<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments-admin :: head(~{::title})">
    <meta charset="UTF-8">
    <!--移动端的设置-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理-标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

    <!-- 导航栏 -->
    <!--
        ui : 指的是ui组件
        inverted : 默认是白的，加上这个代表反转的意思，就变成黑色了
        attached : 表示依附在界面上，没有圆角
        m-padded-tb-mini : 自定义设置的样式，上和下进行填充
        m-shadow-small : 自定义样式，导航的阴影效果
    -->
    <nav th:replace="admin/_fragments-admin :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <!-- 制作导航组件 -->
            <!-- secondary :去除下面设置的灰色竖线 -->
            <!-- stackable : 表示移动端自适应，表示屏幕小的时候，可堆叠-->
            <div class="ui inverted secondary stackable menu">
                <!-- 制作标题 -->
                <!-- teal:表示设置颜色-->
                <!-- item:表示条目，会有一条淡灰色的竖线-->
                <!-- m-mobile-hide：自定义样式，当屏幕是移动端时时候，需要对其item菜单进行隐藏-->
                <h2 class="ui teal header item">后台管理</h2>
                <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
                <!-- 定义右边的头像登录部分 -->
                <div class="right m-item m-mobile-hide menu">
                    <!-- dropdown : 定义下拉菜单(详见Semantic手册中的下拉菜单) -->
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100" alt="用户登录头像"> Angel.zhou
                        </div>
                        <!-- 下拉小三角-->
                        <i class="dropdown icon"></i>
                        <!-- 下拉菜单的定义 -->
                        <div class="menu">
                            <a href="#" class="item">注销</a>
                            <a href="#" class="item">修改密码</a>
                            <a href="#" class="item">更改个人信息</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 当在移动端的时候，需要隐藏导航栏到菜单按钮中-->
        <!-- 需要使用绝对样式进行布局 -->
        <!-- m-mobile-show：自定义样式，当屏幕是宽屏时时候，需要对其菜单按钮进行隐藏，当屏幕是移动端时候，需要对其菜单按钮进行显示，-->
        <!-- menu toggle : 让按钮进行剧中对齐-->
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

    <!-- 定义一个二级导航 -->
    <!-- attached : 依附连接到上一个元素 -->
    <!-- pointing : 出现一个小的向下三角-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <!-- right: 菜单靠右边对齐 -->
            <div class="right menu">
                <a href="#" th:href="@{/admin/tags}" class="active teal item">列表-标签</a>
                <a href="#" th:href="@{/admin/tags/input}" class="item">新增-标签</a>
            </div>
        </div>
    </div>

    <!-- 中间内容 -->
    <div class="m-container m-padded-tb-big">
        <div class="ui container">
            <!-- 接收从后端传来新增成功或失败的信息 -->
            <div class="ui success mini message"  th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i><!-- 当点击这个小图标时，希望关闭这个提示框 ，这就需要使用 js 进行操作-->
                <div class="header">提示 : </div>
                <di th:text="${message}">恭喜，操作成功! </di>
            </div>

            <!-- 定义一个查询结果表单 -->
            <!-- celled : 给表格加入风格线 -->
            <table class="ui celled table">
                <!-- 定义表头 -->
                <thead>
                    <tr>
                        <th></th>
                        <th class="ui left aligned">名称</th>
                        <th class="ui right aligned">操作</th>
                    </tr>
                </thead>
                <!-- 定义表格的正文 -->
                <tbody>
                    <!-- 第一行 -->
                    <tr th:each="tag,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${tag.name}" class="ui left aligned">标签名称</td>
                        <td class="ui right aligned">
                            <a th:href="@{/admin/tags/{id}/input(id=${tag.id})}" href="#" class="ui mini teal basic button">编辑</a>
                            <a th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" href="#" class="ui mini red basic button">删除</a>
                        </td>
                    </tr>
                </tbody>
                <!-- 定义表的底部:定义底部的分页 -->
                <tfoot>
                <tr>
                    <!-- colspan="6" : 合并单元格,这里是进行6列合并成一列 -->
                    <th colspan="6">
                        <!--pagination menu : Semantic表格的样式-->
                        <div class="ui mini left pagination menu"  th:if="${page.totalPages} > 1">
                            <!-- th:unless="${page.first}" : 控制元素是否显示 div-->
                            <a th:href="@{/admin/tags(page=${page.number}-1)}" href="#" class="item" th:unless="${page.first}">上一页</a>
                            <a th:href="@{/admin/tags(page=${page.number}+1)}" href="#" class="item" th:unless="${page.last}">下一页</a>
                        </div>

                        <!-- 新增按钮 right floated:右边对齐-->
                        <a  th:href="@{/admin/tags/input}" href="#" class="ui mini right floated teal basic button">新增</a>

                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <br/>
    <br/>


    <!-- 底部的footer -->
    <!--
        segment : 以线框的形式出来
        vertical : 表示垂直的形式，不是圆角
     -->
    <footer th:replace="admin/_fragments-admin :: footer" class="ui inverted vertical segment m-padded-tb-massive">
        <!-- center aligned : 表示居中 -->
        <div class="ui center aligned container">
            <!-- BootStrap的表格是以12格的形式，而semantic是16格布局-->
            <!-- divided : 表示竖线分隔线-->
            <div class="ui inverted divided stackable grid">
                <!--
                    three: 表示这个Div占3格
                    wide:表示真满
                    column:表示一列的意思
                -->
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <!-- rounded : 表示圆角显示图片 -->
                            <img src="../../static/images/wechat.jpeg" class="ui rounded image" alt="这是一张微信的图片" style="width: 110px;">
                        </div>
                    </div>

                </div>
                <div class="three wide column">
                    <!-- 选用竖着的列表 -->
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">练习清单</a>
                        <a href="#" class="item">失败要趁早</a>
                    </div>
                </div>
                <div class="four wide column">
                    <!-- 选用竖着的列表 -->
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">E-mail : 1244960319@qq.com</a>
                        <a href="#" class="item">QQ : 1244960319</a>
                    </div>

                </div>
                <div class="six wide column">
                    <!-- 选用竖着的列表 -->
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Angel.zhou</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的人个博客，分享关于编程、写作、思考、相关的任何内容，希望可以给来到这儿的人有所帮助....</p>
                </div>
            </div>

            <!-- 画底部的线 -->
            <!-- divider : 代表的是分隔线-->
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright&copy;  2019 - 2020 Angel.zhou Designed by Angel.zhou</p>
        </div>
    </footer>

<!--在静态页面是注释，但是在 Thymeleaf 是有效的-->
<!--/*/<th:block th:replace="admin/_fragments-admin :: script" >/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>

    /*当屏幕是移动端的时候，需要对菜单按钮进行操作*/
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');  // 点击后对菜单进行判断，然后移除还是操作
    })

    // 登录用户的下拉菜单，初始化组件
    $('.ui.dropdown').dropdown({
        on : 'hover'    /*默认是点击事件，所以我们需要使用鼠标放上去自动弹出框*/
    });

    // 当新增操作成功，并在前端返回信息时，则需要点击右上角的关闭按钮进行关闭提示信息
    $('.message .close').on('click',function () {
        $(this).closest('.message').transition('fade');
    });
</script>
</body>
</html>