
/*--------------------给Body添加背景图片----------------------*/
/*但是有个问题：在苹果电脑用Safari浏览器中不能正常显示图片，如何处理?*/
body{
    background: url("../images/bg.png");
}

/*--------------------margin: 同时设置上下左右外部间距----------------------*/
/*向上间距的设置*/
.m-margin-top-small{
    margin-top: 0.5em !important;
}
.m-margin-top{
    margin-top: 1em !important;
}

.m-margin-top-large{
    margin-top: 2em !important;
}

/*向上向下间距的设置*/
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}


/*向下间距的设置*/
.m-margin-bottom-mini{
    margin-bottom: 0.2em !important;
}
.m-margin-bottom-small{
    margin-bottom: 0.5em !important;
}

/*--------------------padding: 同时设置上下左右内部间距----------------------*/
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-tiny{
    padding: 0.3em !important;
}
.m-padded-massive{
    padding: 1.5em !important;
}
/*--------------------padded-lf: 左右间距的设置----------------------*/
/*1em = 14px*/
/* lr: l->表示left。r->表示right*/
.m-padded-lr{
    padding-left:4em !important;
    padding-right:4em !important;
}

/*responsive : 响应式*/
.m-padded-lr-responsive{
    padding-left:4em !important;
    padding-right:4em !important;
}

/*--------------------padded-tb: 上下间距的设置----------------------*/
/*1em = 14px*/
/* tb: t->表示top。b->表示bottom*/
/*最小小小间距*/
.m-padded-tb-mini{
    padding-top:0.2em !important;
    padding-bottom: 0.2em !important;
}
/*小小间距*/
.m-padded-tb-tiny{
    padding-top:0.3em !important;
    padding-bottom: 0.3em !important;
}
/*小间距*/
.m-padded-tb-small{
    padding-top:0.5em !important;
    padding-bottom: 0.5em !important;
}
/*普通间距*/
.m-padded-tb{
    padding-top:1em !important;
    padding-bottom: 1em !important;
}
/*大间距*/
.m-padded-tb-large{
    padding-top:2em !important;
    padding-bottom: 2em !important;
}
/*大大间距*/
.m-padded-tb-big{
    padding-top:3em !important;
    padding-bottom: 3em !important;
}
/*最大大间距*/
.m-padded-tb-huge{
    padding-top:4em !important;
    padding-bottom: 4em !important;
}
/*最大大大间距*/
.m-padded-tb-massive{
    padding-top:5em !important;
    padding-bottom: 5em !important;
}



/*--------------------text: 字体的唯美设置----------------------*/
.m-text{
    font-weight: 300 !important;   /*字体大小*/
    letter-spacing: 1px !important; /*字间距*/
    line-height: 1.8;   /*设置1.8倍的行间距*/
}
.m-text-thin{
    font-weight: 300 !important;   /*字体大小*/
}
.m-text-spaced{
    letter-spacing: 1px !important; /*字间距*/
}
.m-text-lined{
    line-height: 1.8;   /*设置1.8倍的行间距*/
}
.m-opacity-mini{
    opacity: 0.8 !important;    /*设置字体的透明度-->迷你*/
}
.m-opacity-tiny{
    opacity: 0.6 !important;    /*设置字体的透明度-->极小的*/
}

/*--------------------color: 字体颜色设置----------------------*/
.m-black{
    color: #333 !important;
}



/*--------------------display: 显示样式设置----------------------*/
.m-inline-block{
    display: inline-block !important;
}

.m-container{
    max-width: 72em !important;
    margin: auto !important;    /*水平方向的居中*/
}


.m-container-small{
    max-width: 60em !important;
    margin: auto !important;    /*水平方向的居中*/
}

/*--------------------shadow : 设置阴影效果----------------------*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;/*-webkit-box-shadow: 适应不同浏览器*/
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important; /*rgba(0,0,0,0.2): 前3位指定设置颜色，后一位表示阴影的厚度*/
}


/*--------------------position布局：设置导航菜单的绝对定位和相对定位(在移动端的时候)----------------------*/
/*综合：就是显示在右上角*/
.m-right-top{
    position: absolute;
    top: 0;         /*显示在上面*/
    right: 0;       /*显示在右边*/
}

/*--------------------position布局：设置博客详情的小工具条的绝对定位----------------------*/
.m-fixed{
    position: fixed !important;        /*fixed : 表示的是一个绝对的一个布局*/
    z-index: 10 !important;             /*10 : 这个值越大，则这个div就会越靠上显示*/
}
/*右下角的位置进行固定*/
.m-right-bottom{
    bottom: 0 !important;       /*0 表示靠底部*/
    right: 0 !important;        /*0 表示靠右边*/
}



/*平时是需要隐藏的*/
.m-mobile-show{
    display: none !important;
}

/*.m-mobile-hide：自定义样式，当屏幕是移动端时时候，需要对其item菜单进行隐藏*/
@media screen and (max-width: 768px) {
    .m-mobile-hide{/*对其菜单列表进行隐藏*/
        display: none !important;
    }
    .m-mobile-show{ /*对其菜单进行显示*/
        display: block !important;
    }
    .m-padded-lr-responsive{    /*设置没有左右间距*/
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear{     /*在分类页中，移除左右间距*/
        padding-left: 0 !important;
        padding-right: 0 !important;

    }
    .m-mobile-wide{
        width: 100% !important;
    }
}
